# Python Insights - Analisando Dados com Python

### Case - Abastecimento Combustivel

Você foi contratado por uma empresa com mais de 800 mil clientes para um projeto de Dados. Recentemente a empresa percebeu que da sua base total de clientes, a maioria são clientes inativos, ou seja, que já cancelaram o serviço.

Precisando melhorar seus resultados ela quer conseguir entender os principais motivos desses cancelamentos e quais as ações mais eficientes para reduzir esse número.

Base de dados e arquivos: https://drive.google.com/drive/folders/1uDesZePdkhiraJmiyeZ-w5tfc8XsNYFZ?usp=drive_link

In [2]:
# !pip install pandas openpyxl numpy ipykernel nbformat plotly
#%pip install pandas openpyxl numpy ipykernel nbformat plotly #--------------Rodar só 1(uma) Vez!!!
#pip install matplotlib
# import pandas
# import pandas as pd
# tabela = pandas.read_csv("Abastecimento_Caminhao.csv", on_bad_lines="skip")#

# print(tabela)
# display(tabela)
# tabela = tabela.drop(columns="Requisição")
# tabela = tabela.drop(columns=["Requisição", "Horim. Equip.", "Hora Abast.", "Obs.", "Abast. Externo"])
# display(tabela)
# display(tabela.info())
import pandas as pd
#-----------------------------------------------Ler arqvCSV c/ . e , como delimitador
tabela = pd.read_csv("Abastecimento_Caminhao.csv", delimiter=';', on_bad_lines='skip')
#----------------------------------------------------Verifcr noms ds coluns
print("Colunas disponíveis no DataFrame:", tabela.columns)
#-------------------------------------------------------Excl colun espec
colunas_para_excluir = ["Requisição", "Horim. Equip.", "Hora Abast.", "Obs.", "Abast. Externo"]
#----------------------------------------------------Verfc coluna exist ants
colunas_existentes = [col for col in colunas_para_excluir if col in tabela.columns]
if colunas_existentes:
    tabela = tabela.drop(columns=colunas_existentes)
else:
    print("Nenhuma das colunas especificadas foi encontrada no DataFrame.")
#-----------------------------------------------------Mostrar o DataFrame atualizado
display(tabela)

Colunas disponíveis no DataFrame: Index(['Requisição', 'Requisitante', 'Veículo/Equip.', 'Km Atual',
       'Km Rodados', 'Combustível', 'Litros', 'Vlr. Unitário', 'Vlr. Total',
       'Data Req.', 'Horim. Equip.', 'Hora Abast.', 'Obs.', 'Abast. Externo'],
      dtype='object')

,Requisitante,Veículo/Equip.,Km Atual,Km Rodados,Combustível,Litros,Vlr. Unitário,Vlr. Total,Data Req.
0,283 - RAFIEL DUARTE VASCONCELOS,240,684171,960,1002 - OLEO DIESEL B S10,"330,00","0,00","0,00",14/10/2024
1,283 - RAFIEL DUARTE VASCONCELOS,240,683211,769,1002 - OLEO DIESEL B S10,"350,00","0,00","0,00",10/10/2024
2,283 - RAFIEL DUARTE VASCONCELOS,240,682442,966,1002 - OLEO DIESEL B S10,"394,00","5,41","2.133,16",07/10/2024
3,283 - RAFIEL DUARTE VASCONCELOS,240,681476,633,1002 - OLEO DIESEL B S10,"320,00","4,89","1.564,47",04/10/2024
4,283 - RAFIEL DUARTE VASCONCELOS,240,680843,1366,1002 - OLEO DIESEL B S10,"570,00","4,84","2.756,31",02/10/2024
...,...,...,...,...,...,...,...,...,...
4918,108 - JOSE ELZIMAR PINTO DA COSTA,BT90,70727,176,1002 - OLEO DIESEL B S10,"165,00","4,93","812,72",06/01/2024
4919,108 - JOSE ELZIMAR PINTO DA COSTA,BT90,70551,122,1002 - OLEO DIESEL B S10,"146,20","4,93","720,12",04/01/2024
4920,268 - GUSTAVO SOARES BRAGA,GERADOR,8,1,1002 - OLEO DIESEL B S10,"93,00","0,49","45,79",15/08/2024
4921,268 - GUSTAVO SOARES BRAGA,GERADOR,7,1,1002 - OLEO DIESEL B S10,"50,00","4,86","243,20",17/06/2024
4922,79 - JUVERCINO FAUSTINO,GERADOR,6,1,1002 - OLEO DIESEL B S10,"40,00","4,75","189,88",10/04/2024

In [3]:
#-------------------------------------------------Contagem de Ocorrências(Valores Repetidos)
#-------------------------------------------------De acordo com ["Vlr. Unitário"]
#----------------------------------------------------------Tratamento de Dados

tabela = tabela.dropna()
# tabela = tabela.fillna()
# display(tabela)
# print(tabela.info())
#display(tabela.info())
display(tabela["Vlr. Unitário"].value_counts())

Vlr. Unitário
4,86      813
4,81      345
0,00      227
4,87      206
5,07      178
         ...
3,02        5
2,29        5
3,11        3
278,72      2
4,65        1
Name: count, Length: 68, dtype: int64

In [4]:
#----------------------------------------------------Mostrar as Ocorrências de Valores
#----------------------------------------------------------que Menos se repetem
#-----------------------------------De acordo com o ["Vlr. Unitário"], junto das infos da linha a qual se encontra!

# display(tabela["", "", ""].value_counts())
# display(tabela[""].value_counts(normalize=True))
# display(tabela[""].value_counts(normalize=True).map("{:.1%}".format))

#tabela['Vlr. Unitário'] = pd.to_numeric(tabela['Vlr. Unitário'], errors='coerce')
# Remov-linhas - n pôd - convert
#tabela = tabela.dropna(subset=['Vlr. Unitário'])

contagem_valores = tabela['Vlr. Unitário'].value_counts()
# --------------------------------------------------------Select-8 Vlrs- menos-repetem
valores_menos_repetidos = contagem_valores.nsmallest(8).index
# --------------------------------------------------------Select-8 Vlrs- mais-repetem
#valores_mais_repetidos = contagem_valores.nlargest(8).index
#----------------------------------------------------Filtr-tb p/ inclu-only-lines c/ ess vlrs
linhas_filtradas = tabela[tabela['Vlr. Unitário'].isin(valores_menos_repetidos)]#p/-exibir-Vlrs-menos-reptds-tbl
#linhas_filtradas = tabela[tabela['Vlr. Unitário'].isin(valores_mais_repetidos)]#p/-exibir-os-mais-reptds
display(linhas_filtradas)

,Requisitante,Veículo/Equip.,Km Atual,Km Rodados,Combustível,Litros,Vlr. Unitário,Vlr. Total,Data Req.
437,121 - LEANDRO TAVARES SILVA,1205,0,0,1002 - OLEO DIESEL B S10,"145,10","3,02","438,92",01/03/2024
468,237 - ANTONIO CARLOS TEIXEIRA,2940,835886,1047,1002 - OLEO DIESEL B S10,"639,10","2,29","1.465,84",10/01/2024
487,169 - FABIO ANDERSON DE SOUSA SILVA,3092,874589,898,1002 - OLEO DIESEL B S10,"480,50","3,11","1.495,59",11/01/2024
488,169 - FABIO ANDERSON DE SOUSA SILVA,3092,873691,877,1002 - OLEO DIESEL B S10,"477,10","72,74","34.702,54",10/01/2024
1137,190 - JOAO NETO DA SILVA,2C07,159717,508,1002 - OLEO DIESEL B S10,"169,50","5,14","871,21",03/01/2024
1210,186 - ALEX PEREIRA DA COSTA,2H65,65978,548,1002 - OLEO DIESEL B S10,"225,00","5,14","1.156,47",03/01/2024
1438,203 - THIAGO BELISARIO DE ARAUJO,3H98,453473,851,1002 - OLEO DIESEL B S10,"168,00","278,72","46.824,37",02/08/2024
1613,110 - HERCULES DONIZETE PEDROSO,4B24,307362,1343,1002 - OLEO DIESEL B S10,"742,00","2,29","1.701,85",11/01/2024
1811,13 - MARCIO JOSE PARREIRA,5B06,261065,656,1002 - OLEO DIESEL B S10,"300,00","1,50","450,73",02/03/2024
2143,170 - VINICIUS DIAS DA SILVA,6J37,221628,1195,1002 - OLEO DIESEL B S10,"615,00","5,14","3.161,02",04/01/2024
2438,253 - CELIO RAMOS DA COSTA,BE5250,212563,1644,1002 - OLEO DIESEL B S10,"190,00","278,72","52.956,14",02/08/2024
2462,204 - KAIQUE LIMA DE OLIVEIRA,BE5250,206421,326,1002 - OLEO DIESEL B S10,"170,00","3,02","514,24",04/03/2024
2474,101 - RAIMUNDO NONATO R BERNARDO,BE5250,203220,339,1002 - OLEO DIESEL B S10,"163,00","5,14","837,80",03/01/2024
2515,253 - CELIO RAMOS DA COSTA,BE6975,548493,351,1002 - OLEO DIESEL B S10,"88,00","1,50","132,21",02/03/2024
2519,150 - WALTER DA COSTA SILVA,BE6975,547625,95,1002 - OLEO DIESEL B S10,"34,00","5,14","174,76",04/01/2024
2616,145 - RODRIGO ROCHA DE MELO,BE7660,218736,58,1002 - OLEO DIESEL B S10,"75,90","2,29","174,08",11/01/2024
2665,178 - ALEXANDRE HEGUEDUSCH,BT 100,68057,240,1002 - OLEO DIESEL B S10,"185,00","1,50","277,95",02/03/2024
2681,178 - ALEXANDRE HEGUEDUSCH,BT 100,64247,234,1002 - OLEO DIESEL B S10,"187,00","5,14","961,16",03/01/2024
2740,180 - CRISTIANO SANTOS DA HORA,BT120,50361,224,1002 - OLEO DIESEL B S10,"200,00","5,14","1.027,97",03/01/2024
2787,240 - MICHAEL ROBERT A NASCIMENTO,BT130,48055,189,1002 - OLEO DIESEL B S10,"198,00","72,74","14.401,81",10/01/2024
2917,244 - BALDINO FAGUNDES CORREIA,BT150,42773,247,1002 - OLEO DIESEL B S10,"184,00","1,50","276,45",02/03/2024
3023,113 - ANTONIO CARLOS RODRIGUES DO VA,BT160,47245,154,1002 - OLEO DIESEL B S10,"157,00","5,14","806,96",03/01/2024
3205,218 - GILMARIO FRANCA BONFIM,BT190,39582,85,1002 - OLEO DIESEL B S10,"85,00","3,11","264,57",11/01/2024
3244,154 - DANIEL ROCHA XAVIER,BT200,37969,378,1002 - OLEO DIESEL B S10,"203,80","4,65","948,16",12/03/2024
3283,91 - EVERTON JULIO SILVA DE ALMEIDA,BT210,40618,241,1002 - OLEO DIESEL B S10,"230,10","72,74","16.736,65",10/01/2024
3331,220 - FERNANDO LEANDRO DA SILVA,BT220,37501,141,1002 - OLEO DIESEL B S10,"92,00","2,29","211,01",11/01/2024
3332,220 - FERNANDO LEANDRO DA SILVA,BT220,37360,315,1002 - OLEO DIESEL B S10,"127,00","72,74","9.237,53",10/01/2024
3387,117 - NILTON SANTOS CHAVES CRUZ,BT230,34372,320,1002 - OLEO DIESEL B S10,"187,90","3,11","584,85",11/01/2024
3459,241 - MARCOS ANTONIO DE LIMA NETO,BT240,40936,121,1002 - OLEO DIESEL B S10,"100,80","72,74","7.331,83",10/01/2024
3742,215 - CAMILO DE OLIVEIRA SILVA,BT290,21580,175,1002 - OLEO DIESEL B S10,"156,00","3,02","471,89",02/03/2024
3916,102 - EDER BRAGANCA SOARES,BT310,28396,169,1002 - OLEO DIESEL B S10,"130,00","3,02","393,24",04/03/2024
3917,102 - EDER BRAGANCA SOARES,BT310,28227,214,1002 - OLEO DIESEL B S10,"153,00","1,50","229,87",02/03/2024
3974,142 - RICARDO APARECIDO DE ARAUJO,BT320,18127,238,1002 - OLEO DIESEL B S10,"194,20","2,29","445,42",11/01/2024
4197,160 - GIDEON BARROS DOS SANTOS,BT360,17443,187,1002 - OLEO DIESEL B S10,"120,50","72,74","8.764,74",10/01/2024
4259,118 - RAFAEL MIRANDA GOMES,BT370,18744,34,1002 - OLEO DIESEL B S10,"42,00","72,74","3.054,93",10/01/2024
4791,174 - PAULO CESAR DE SALES,BT60,89015,315,1002 - OLEO DIESEL B S10,"160,00","3,02","483,99",01/03/2024
4899,114 - JONAS FABIO DE OLIVEIRA SILVA,BT90,73547,270,1002 - OLEO DIESEL B S10,"208,00","1,50","312,51",02/03/2024

In [5]:
#----------------------------------------------------Mostrar as Ocorrências de Valores
#----------------------------------------------------------que MAIS se repetem!!
#-----------------------------------De acordo com o ["Vlr. Unitário"], junto das infos da linha a qual se encontra!

contagem_valores = tabela['Vlr. Unitário'].value_counts()
# --------------------------------------------------------Select-8 Vlrs- menos-repetem
#valores_menos_repetidos = contagem_valores.nsmallest(8).index
# --------------------------------------------------------Select-8 Vlrs- mais-repetem
valores_mais_repetidos = contagem_valores.nlargest(8).index
#----------------------------------------------------Filtr-tb p/ inclu-only-lines c/ ess vlrs
#linhas_filtradas = tabela[tabela['Vlr. Unitário'].isin(valores_menos_repetidos)]#p/-exibir-Vlrs-menos-reptds-tbl
linhas_filtradas = tabela[tabela['Vlr. Unitário'].isin(valores_mais_repetidos)]#p/-exibir-os-mais-reptds
display(linhas_filtradas)

,Requisitante,Veículo/Equip.,Km Atual,Km Rodados,Combustível,Litros,Vlr. Unitário,Vlr. Total,Data Req.
0,283 - RAFIEL DUARTE VASCONCELOS,240,684171,960,1002 - OLEO DIESEL B S10,"330,00","0,00","0,00",14/10/2024
1,283 - RAFIEL DUARTE VASCONCELOS,240,683211,769,1002 - OLEO DIESEL B S10,"350,00","0,00","0,00",10/10/2024
3,283 - RAFIEL DUARTE VASCONCELOS,240,681476,633,1002 - OLEO DIESEL B S10,"320,00","4,89","1.564,47",04/10/2024
8,256 - RENATO APARECIDO LUCAS SILVA,240,676977,789,1002 - OLEO DIESEL B S10,"200,00","0,00","0,00",30/08/2024
13,256 - RENATO APARECIDO LUCAS SILVA,240,672921,821,1002 - OLEO DIESEL B S10,"387,00","4,97","1.922,03",20/08/2024
...,...,...,...,...,...,...,...,...,...
4901,114 - JONAS FABIO DE OLIVEIRA SILVA,BT90,73084,179,1002 - OLEO DIESEL B S10,"197,10","5,07","999,01",26/02/2024
4902,238 - JONES ALVES GUIMARAES,BT90,72905,205,1002 - OLEO DIESEL B S10,"165,00","5,07","836,31",22/02/2024
4909,108 - JOSE ELZIMAR PINTO DA COSTA,BT90,71924,173,1002 - OLEO DIESEL B S10,"170,00","0,00","0,00",01/02/2024
4913,108 - JOSE ELZIMAR PINTO DA COSTA,BT90,71274,158,1002 - OLEO DIESEL B S10,"119,00","0,00","0,00",17/01/2024
4921,268 - GUSTAVO SOARES BRAGA,GERADOR,7,1,1002 - OLEO DIESEL B S10,"50,00","4,86","243,20",17/06/2024

In [6]:
#-------------------------------------------------------Valores de 'Km' por 'Litro'

import pandas as pd
tabela = pd.read_csv("Abastecimento_Caminhao.csv", delimiter=';', on_bad_lines='skip')
tabela['Litros'] = tabela['Litros'].astype(str).str.replace(',', '').str[:-2]
tabela['Km Rodados'] = pd.to_numeric(tabela['Km Rodados'], errors='coerce')
tabela['Litros'] = pd.to_numeric(tabela['Litros'], errors='coerce')
#print("Tipos das colunas após conversão:")
#print(tabela[['Km Rodados', 'Litros']].dtypes)
tabela = tabela.dropna(subset=['Km Rodados', 'Litros'])
#print("Primeiras linhas após remoção de NaNs:")
#display(tabela.head())

#print(f"Número de linhas após remoção de NaNs: {len(tabela)}")
tabela['Km por Litro'] = tabela['Km Rodados'] / tabela['Litros']
tabela['Km por Litro'] = tabela['Km por Litro'].round(2)

print("Colunas 'Km por Litro', 'Km Rodados', 'Litros' e 'Veículo/Equip.':")
display(tabela[['Km por Litro', 'Km Rodados', 'Litros', 'Veículo/Equip.']])

Colunas 'Km por Litro', 'Km Rodados', 'Litros' e 'Veículo/Equip.':

      Km por Litro  Km Rodados  Litros Veículo/Equip.
0             2.91         960   330.0            240
1             2.20         769   350.0            240
2             2.45         966   394.0            240
3             1.98         633   320.0            240
4             2.40        1366   570.0            240
...            ...         ...     ...            ...
4918          1.07         176   165.0           BT90
4919          0.84         122   146.0           BT90
4920          0.01           1    93.0        GERADOR
4921          0.02           1    50.0        GERADOR
4922          0.02           1    40.0        GERADOR

[4923 rows x 4 columns]

In [7]:
#---------------------------------------------------Valores de 'Km' por 'Litro', junto da Data de Requisição

tabela = pd.read_csv("Abastecimento_Caminhao.csv", delimiter=';', on_bad_lines='skip')
tabela['Litros'] = tabela['Litros'].astype(str).str.replace(',', '').str[:-2]#[:-1]/[:-3]
tabela['Km Rodados'] = pd.to_numeric(tabela['Km Rodados'], errors='coerce')
tabela['Litros'] = pd.to_numeric(tabela['Litros'], errors='coerce')
#print("Tipos das colunas após conversão:")
#print(tabela[['Km Rodados', 'Litros']].dtypes)
tabela = tabela.dropna(subset=['Km Rodados', 'Litros'])
#print("Primeiras linhas após remoção de NaNs:")
#display(tabela.head())
#print(f"Número de linhas após remoção de NaNs: {len(tabela)}")
tabela['Km por Litro'] = tabela['Km Rodados'] / tabela['Litros']
tabela['Km por Litro'] = tabela['Km por Litro'].round(2)#.round(3)
#agrupado = tabela.groupby(['Veículo/Equip.', 'Requisitante'])['Km por Litro'].mean().reset_index()
agrupado = tabela.groupby(['Veículo/Equip.', 'Requisitante', 'Data Req.', 'Km Rodados', 'Litros'])['Km por Litro'].mean().reset_index()
agrupado = agrupado.sort_values(by=['Veículo/Equip.', 'Km por Litro'], ascending=[True, False])#[True, True])/[False, True])/[False, False])
display(agrupado)

,Veículo/Equip.,Requisitante,Data Req.,Km Rodados,Litros,Km por Litro
1,0C35,192 - LEANDRO PONTES DA SILVA,11/07/2024,125,35.0,3.57
0,0C35,189 - GILBERTO BATISTA DE SOUZA,26/09/2024,280,100.0,2.80
101,0D26,277 - GERSON FERMINO,04/09/2024,2312,55.0,42.04
87,0D26,262 - MARCELO ACIOLI,17/06/2024,1042,45.0,23.16
88,0D26,262 - MARCELO ACIOLI,18/07/2024,1256,102.0,12.31
...,...,...,...,...,...,...
4876,BT90,108 - JOSE ELZIMAR PINTO DA COSTA,15/07/2024,91,125.0,0.73
4852,BT90,108 - JOSE ELZIMAR PINTO DA COSTA,02/08/2024,43,222.0,0.19
4919,GERADOR,268 - GUSTAVO SOARES BRAGA,17/06/2024,1,50.0,0.02
4920,GERADOR,79 - JUVERCINO FAUSTINO,10/04/2024,1,40.0,0.02
4918,GERADOR,268 - GUSTAVO SOARES BRAGA,15/08/2024,1,93.0,0.01

In [ ]:
#import pandas as pd
#import matplotlib.pyplot as plt
#tabela = pd.read_csv("Abastecimento_Caminhao.csv", delimiter=';', on_bad_lines='skip')

#tabela['Litros'] = tabela['Litros'].astype(str).str.replace(',', '').str[:-2]
#tabela['Km Rodados'] = pd.to_numeric(tabela['Km Rodados'], errors='coerce')
#tabela['Litros'] = pd.to_numeric(tabela['Litros'], errors='coerce')

#tabela = tabela.dropna(subset=['Km Rodados', 'Litros'])

#tabela['Km por Litro'] = tabela['Km Rodados'] / tabela['Litros']
#tabela['Km por Litro'] = tabela['Km por Litro'].round(3)

#agrupado = tabela.groupby(['Veículo/Equip.', 'Requisitante'])['Km por Litro'].mean().#reset_index()

#top5 = agrupado.nlargest(5, 'Km por Litro')
#bottom5 = agrupado.nsmallest(5, 'Km por Litro')

#top_bottom = pd.concat([top5, bottom5])

#fig, ax = plt.subplots(figsize=(10, 6))

#colors = ['blue' if x in bottom5['Veículo/Equip.'].values else 'red' for x in top_bottom#['Veículo/Equip.']]

#ax.bar(top_bottom['Veículo/Equip.'], top_bottom['Km por Litro'], color=colors)
#ax.set_xlabel('Veículo/Equip.')
#ax.set_ylabel('Km por Litro')
#ax.set_title('Top 5 e Bottom 5 Veículos/Equipamentos por Km por Litro')

#for i, (v, r) in enumerate(zip(top_bottom['Km por Litro'], top_bottom['Requisitante'])):
#    ax.text(i, v, f'{r}', ha='center', va='bottom', fontsize=9)
#
#plt.xticks(rotation=45)
#plt.show()

In [ ]:
import pandas as pd
import plotly.express as px
tabela = pd.read_csv("Abastecimento_Caminhao.csv", delimiter=';', on_bad_lines='skip')
colunas_para_excluir = ["Requisição", "Hora Abast.", "Obs.", "Abast. Externo", "Data Req.", "Combustível", "Horim. Equip.", "Vlr. Unitário"]
colunas_existentes = [col for col in colunas_para_excluir if col in tabela.columns]
if colunas_existentes:
    tabela = tabela.drop(columns=colunas_existentes)
else:
    print("Nenhuma das colunas especificadas foi encontrada no DataFrame.")

tabela = tabela.dropna()
#display(tabela)

tabela['Litros'] = tabela['Litros'].astype(str).str.replace(',', '').str[:-2]
tabela['Vlr. Total'] = tabela['Vlr. Total'].astype(str).str.replace(',', '')#.str[:-2]
tabela['Km Rodados'] = pd.to_numeric(tabela['Km Rodados'], errors='coerce')
tabela['Litros'] = pd.to_numeric(tabela['Litros'], errors='coerce')
tabela['Vlr. Total'] = pd.to_numeric(tabela['Vlr. Total'], errors='coerce')
tabela['Km Atual'] = pd.to_numeric(tabela['Km Atual'], errors='coerce')
tabela = tabela.dropna(subset=['Km Rodados', 'Litros', 'Vlr. Total', 'Km Atual', 'Veículo/Equip.', 'Requisitante'])
agrupado = tabela.groupby(['Veículo/Equip.', 'Requisitante']).agg({
    'Litros': 'sum',
    'Vlr. Total': 'sum',
    'Km Rodados': 'sum',
    'Km Atual': 'max'
}).reset_index()
#print("DataFrame agrupado:")
#display(agrupado)
agrupado['Km por Litro'] = agrupado['Km Rodados'] / agrupado['Litros']

agrupado['Litros'] = agrupado['Litros'].apply(lambda x: '{:,.2f}'.format(x))
agrupado['Vlr. Total'] = agrupado['Vlr. Total'].apply(lambda x: '{:,.2f}'.format(x))
#print("DataFrame agrupado com formatação de vírgulas:")
#display(agrupado)
for coluna in tabela['Vlr. Total']:
    grafico = px.histogram(tabela, x='Vlr. Total', color="Veículo/Equip.")

    grafico.show()

In [ ]:
#def gerar_graficos_separados(tabela, colunas):
#    for coluna in colunas:
#        grafico = px.histogram(tabela, x=coluna, color="Km Rodados")
#        grafico.show() 
#        input("Pressione Enter para continuar para o próximo gráfico...")
#colunas_para_graficos = [coluna for coluna in tabela.columns if coluna != "Km Rodados"]
#gerar_graficos_separados(tabela, colunas_para_graficos)

In [ ]:
#---------------------------------------------Top10 Veículos/Equip com Mais/Menos LUCRO(km Rodados - Vlr. Total)

import pandas as pd
import plotly.express as px
tabela = pd.read_csv("Abastecimento_Caminhao.csv", delimiter=';', on_bad_lines='skip')
colunas_para_excluir = ["Requisição", "Hora Abast.", "Obs.", "Abast. Externo", "Data Req.", "Combustível", "Horim. Equip.", "Vlr. Unitário"]
colunas_existentes = [col for col in colunas_para_excluir if col in tabela.columns]
if colunas_existentes:
    tabela = tabela.drop(columns=colunas_existentes)
else:
    print("Nenhuma das colunas especificadas foi encontrada no DataFrame.")
tabela = tabela.dropna()
tabela['Litros'] = tabela['Litros'].astype(str).str.replace(',', '').str[:-2]
tabela['Vlr. Total'] = tabela['Vlr. Total'].astype(str).str.replace(',', '')#.str[:-2]
tabela['Km Rodados'] = pd.to_numeric(tabela['Km Rodados'], errors='coerce')
tabela['Litros'] = pd.to_numeric(tabela['Litros'], errors='coerce')
tabela['Vlr. Total'] = pd.to_numeric(tabela['Vlr. Total'], errors='coerce')
tabela['Km Atual'] = pd.to_numeric(tabela['Km Atual'], errors='coerce')
#print(tabela.dtypes)
tabela = tabela.dropna(subset=['Km Rodados', 'Litros', 'Vlr. Total', 'Km Atual', 'Veículo/Equip.', 'Requisitante'])
agrupado = tabela.groupby(['Veículo/Equip.', 'Requisitante']).agg({
    'Litros': 'sum',
    'Vlr. Total': 'sum',
    'Km Rodados': 'sum',
    'Km Atual': 'max'
}).reset_index()
#print(agrupado.dtypes)
agrupado['Lucro'] = agrupado['Km Rodados'] - agrupado['Vlr. Total']
top10_lucro = agrupado.nlargest(10, 'Lucro')
bottom10_lucro = agrupado.nsmallest(10, 'Lucro')
top_bottom_lucro = pd.concat([top10_lucro, bottom10_lucro])

grafico = px.bar(top_bottom_lucro, x='Veículo/Equip.', y='Lucro', color='Lucro',
             color_continuous_scale=[(0, 'blue'), (0.5, 'blue'), (0.5, 'red'), (1, 'red')],
             hover_data=['Requisitante'])

grafico.update_layout(title="Top 10 e Bottom 10 Veículos/Equipamentos por Lucro",
                  xaxis_title="Veículo/Equip.",
                  yaxis_title="Lucro (Km Rodados - Vlr. Total)",
                  xaxis_tickangle=-45)

grafico.show()

In [ ]:
#--------------------------------------------------------------------VEÍCULOS c/
#-----------------------------------------------------------------MAIORES/MENORES
#---------------------------------------------------------KM por LITRO(Km Rodados / Litros)

import pandas as pd
import plotly.express as px
#---------Leitura arqv CSV
tabela = pd.read_csv("Abastecimento_Caminhao.csv", delimiter=';', on_bad_lines='skip')
#---------Colunas p/ exclr
colunas_para_excluir = ["Requisição", "Hora Abast.", "Obs.", "Abast. Externo", "Data Req.", "Combustível", "Horim. Equip.", "Vlr. Unitário"]
colunas_existentes = [col for col in colunas_para_excluir if col in tabela.columns]
if colunas_existentes:
    tabela = tabela.drop(columns=colunas_existentes)
else:
    print("Nenhuma das colunas especificadas foi encontrada no DataFrame.")
#----------Remov NaNs
tabela = tabela.dropna()
#----------Tratamento-> colunas 'Litros'/'Km Rodados'
tabela['Litros'] = tabela['Litros'].astype(str).str.replace(',', '').str[:-2]
tabela['Vlr. Total'] = tabela['Vlr. Total'].astype(str).str.replace(',', '')#.str[:-2]
tabela['Km Rodados'] = pd.to_numeric(tabela['Km Rodados'], errors='coerce')
tabela['Litros'] = pd.to_numeric(tabela['Litros'], errors='coerce')
tabela['Vlr. Total'] = pd.to_numeric(tabela['Vlr. Total'], errors='coerce')
tabela['Km Atual'] = pd.to_numeric(tabela['Km Atual'], errors='coerce')
#-----------Remover de NaNs
tabela = tabela.dropna(subset=['Km Rodados', 'Litros', 'Vlr. Total', 'Km Atual', 'Veículo/Equip.', 'Requisitante'])
#-----------Excluir veículos indesejados
valores_para_excluir = ['GERADOR']# ,'9I10', '1629', '7888', '8C39'
tabela = tabela[~tabela['Veículo/Equip.'].isin(valores_para_excluir)]
#------------Agrupar por 'Veículo/Equip.'/'Requisitante'
agrupado = tabela.groupby(['Veículo/Equip.', 'Requisitante']).agg({
    'Litros': 'sum',
    'Vlr. Total': 'sum',
    'Km Rodados': 'sum',
    'Km Atual': 'max'
}).reset_index()
#--------------Calc 'Km por Litro'/arredondar
agrupado['Km por Litro'] = (agrupado['Km Rodados'] / agrupado['Litros']).round(7)
#--------------Seleção-> Top e Bottom
top5 = agrupado.nlargest(5, 'Km por Litro')
bottom23 = agrupado.nsmallest(23, 'Km por Litro')
#--------------Gráfico-> Top
fig_top5 = px.bar(top5, x='Veículo/Equip.', y='Km por Litro', color='Km por Litro',
             hover_data=['Requisitante'])
fig_top5.update_layout(title="Veículos/Equipamentos com MAIOR Km por Litro",
                  xaxis_title="Veículo/Equip.",
                  yaxis_title="Km por Litro",
                  xaxis_tickangle=-45)
#--------------Gráfico-> Bottom
fig_bottom23 = px.bar(bottom23, x='Veículo/Equip.', y='Km por Litro', color='Km por Litro',
             hover_data=['Requisitante'])
fig_bottom23.update_layout(title="Veículos/Equipamentos com MENOR Km por Litro",
                  xaxis_title="Veículo/Equip.",
                  yaxis_title="Km por Litro",
                  xaxis_tickangle=-45)
#--------------Exibir
fig_top5.show()
fig_bottom23.show()